<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="fundo-video">
    <video autoplay loop [muted] = "true">
      <source class="video" src="./assets/video-mario.mp4" type="video/mp4">
    </video>
  </div>


  <header class="cabecalho">
    <img class="logo" src="./assets/logo-chapeu-mario.png" alt="logo chapeu mario">
    <nav class="menu">
      <li>Home</li>
      <li>Detalhes</li>
    </nav>
  </header>
  <main class="container">
    <div class="informacoes"></div>
    <img class="mario" src="./assets/titulo.png" alt="imagem escrito super mario bros">
    <p>Super Mario é uma série de jogos eletrônicos de plataforma, criada pela Nintendo,
      baseada e estrelada pelo encanador fictício Mario.
      Alternativamente chamada de série Super Mario Bros. ou simplesmente série Mario, é a série central da ampla franquia Mario.</p>
  </main>
</body>
</html>


<router-outlet></router-outlet>
